/CARS_Application/nbproject/private/
/CARS_Application/CARS_Application-ejb/nbproject/private/
/CARS_Application/CARS_ClinicAdminTerminal/nbproject/private/
/CARS_Application/CARS_selfServiceKiosk/nbproject/private/
/CARS_Application/EnterpriseApplication1/nbproject/private/
/CARS_Application/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/CARS_Application/CARS_Library/nbproject/private/